<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/context
		 http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <bean id="person" class="com.carson.beans.factory.bean.Person">
        <property name="name" value="carson"/>
        <property name="age" value="18"/>
        <property name="car" ref="car"/>
    </bean>

    <bean id="car" class="com.carson.beans.factory.bean.Car">
        <property name="brand" value="benz"/>
        <property name="speed" value="120.88"/>
    </bean>

    <bean class="com.carson.beans.factory.common.CustomBeanFactoryPostProcessor"/>

    <bean class="com.carson.beans.factory.common.CustomBeanPostProcessor"/>

    <bean class="com.carson.beans.factory.bean.HelloService"/>
</beans>